<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Excel File Upload Tool</title>   
    </head>
    <body>

	<!-- Upload form. Note enctype attribute! -->
	<form action="{% url list_documents %}" method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    <p>{{ form.non_field_errors }}</p>
	    <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
	    <p>
	        {{ form.docfile.errors }}
	        {{ form.docfile }}
	    </p>
	    <p><input type="submit" value="Upload" /></p>
	</form>

	<div style="padding:10px; margins:10px; border:1px solid silver;">
		<a href="../users/" >Export Users</a> &middot;
		<a href="../vehicles/" >Export Vehicles</a> &middot; 
		<a href="../places/" >Export Places</a>
		<br/>
		<a href="../all/">Export all of the above</a>
		<hr/>
	</div>
<small>v 1.27</small>
    </body>
</html> 